<html>

<head>
  <link rel="stylesheet" href="../style/form.css" />
  <link rel="stylesheet" href="../styles.css">
  <link rel="stylesheet" href="../style/product.css" />
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar">
    <div class="nav-container">
      <div class="logo">
        <h1>Logo</h1>
      </div>
      <div class="navbar-item cart">
          <a href="Cart.html">
        <img src="../Images/shopping-cart.png" class="cart-icon" alt="" />
        </a>
      </div>
      <div class="navbar-item">
        <a href="Login.html">
          <p class="nav-tag">Login</p>
        </a>
      </div>
      <div class="navbar-item">
        <a href="Register.html">
          <p class="nav-tag">
            Register
          </p>
        </a>
      </div>
      <div class="navbar-item">

        <p class="nav-tag">About</p>
      </div>
      <div class="navbar-item">
        <a href="../../index.html">
          <p class="nav-tag">Home</p>
        </a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="product">
      <div class="pro-img">
      </div>

      <div class="pro-details">
        <h2>Product Name</h2>
        <h2> CA$ 99.99 </h2>
        <div class="property">
          <h2>Warrenty: 2 Years</h2>
          <h2>WaterProof</h2>
        </div>
        <div class="add-to-cart">
            <button class="add-to-btn">Add to cart</button>
          </div>
      </div>

      <div class="pro-details">
        <h2>Details</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure consequatur mollitia harum ducimus hic
          temporibus voluptates voluptas tempore, totam, quaerat debitis consequuntur aut voluptatibus. Tempore aliquid,
          inventore nostrum autem eum libero neque sit optio excepturi, atque harum rem quas dolore. Deserunt, aut omnis
          delectus recusandae vitae ad maiores sunt aliquam?
        </p>
      </div>


    </div>
  </div>
</body>

</html>